.donate-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.brand-container {
  height: 95vh;
  width: 95vw;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.donate-slider {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #006993;
  box-sizing: border-box;
  box-shadow: 0 0 0px 90px #006993;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.donate-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.spinner {
  position: absolute !important;
  box-sizing: border-box !important;
  /* box-shadow: inset 0px 0px 40px 90px rgba(255, 255, 255, 0.323) !important; */
  border: 5px solid black;
  padding: 240px !important;
  overflow: visible !important;
  border-radius: 50%;
  height: 100px !important;
  width: 100px !important;
  display: grid !important;
  place-content: center !important;
  animation: spin 20s linear infinite !important;
}

.spinner .swiper-wrapper {
  width: 100px !important;
  height: 100px !important;
  padding: 240px !important;
  transform: none !important;

  place-content: center !important;
}

.img-container {
  position: absolute !important;
  height: 100px !important;
  width: 100px !important;
  background: #ffffff5a;
  border-radius: 50%;
  animation: spin 20s linear infinite !important;
  animation-direction: reverse !important;
  z-index: 100 !important;
  cursor: pointer;
  /* centered text somehow */
  margin: 5px;
  border: 3px solid black;
}

.img-container:hover {
  background: rgba(255, 255, 255, 0.2);
}
.content1 {
  top: 0;
  left: 25%;
}
.content2 {
  top: 0;
  right: 25%;
}
.content3 {
  top: 25%;
  left: 0%;
}
.content4 {
  top: 25%;
  right: 0%;
}
.content5 {
  bottom: 25%;
  left: 0;
}
.content6 {
  bottom: 25%;
  right: 0;
}

.content7 {
  bottom: 0;
  left: 25%;
}
.content8 {
  bottom: 0;
  right: calc(25%);
}
.brand-image {
  height: 100px;
  width: 100px;
  object-fit: contain;
  display: block;
  /* animation: rotate 100s linear infinite; */
}

.featured-image {
  /* border-radius: 50%; */
  height: 200px;
  width: 200px;
  object-fit: contain;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
