.home {
  min-height: 100vh;
}

/* styling for parallax svg background */
.bg-wave {
  width: 100%;
  height: 100vh;
  position: absolute;
}

/* LANDING PAGE */
.landing-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-globe-girl {
  z-index: 0;
  position: absolute;
  opacity: 0.7;
  top: 30vh;
  left: 0;
  height: 70vh;
  width: 50vw;
  transform: rotate(10deg) scaleX(-1);
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(15px, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.landing-text-container {
  z-index: 1;
  margin-top: 100px;
  height: calc(100vh - 200px);
  width: 90%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 40%,
    rgba(255, 255, 255, 0.1) 70%
  );
  box-shadow: 0px 0px 35px #006993;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  border-bottom-left-radius: 200%90%;
  border-bottom-right-radius: 200%90%;
  /* border-radius: 200%100%; */
}

.landing-text-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 40%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-text-content p {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 5px rgba(5, 5, 5, 0.6);
  font-size: 1.8rem;
}

.landing-swiper {
  display: flex;
  flex-direction: column;
  width: 70%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 40%,
    rgba(255, 255, 255, 0.2) 90%
  );
  box-shadow: 0px -150px 10px 3px #006993e0;
  clip-path: inset(-5px -3px 0px -3px);
  height: 50%;
  position: relative;
}

.landing-slides.swiper-slide-next,
.landing-slides.swiper-slide-prev {
  opacity: 0;
  visibility: hidden;
}

.landing-slide-text {
  height: 70%;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 5px rgba(5, 5, 5, 0.6);
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.landing-cta-button {
  color: white;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid rgba(183, 183, 183, 0.544);
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.55);
  cursor: pointer;
  background: #24957f;
  z-index: 2;
}

.landing-slideshow-svg {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.7;
  height: 150px;
}

/* should remove for mobile view */
.landing-leave-button {
  position: absolute;
  top: calc(100vh - 50px);
  background: none;
  border: none;
  transform: scale(3, 1);
  color: #2ae2bd;
  text-shadow: 0px 0px 20px rgba(36, 173, 43, 0.8);
}

/* HOME INFORMATION CONTENT */
.home-content-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}

/* INTERACTIVE DATA INPUT CONTENT */
.home-data-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid red;
}

/* Swiper news api slideshow */
.home-news-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-swiper {
  height: 460px;

  width: 90%;
  display: flex;
  flex-direction: column;
}
.swiper-slide {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-pagination {
  /* top: -30px; */
}

.article-card {
  height: 100%;
  /* width: 300px; */
  display: flex;
  flex-direction: column;
}

.article-card img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
