/* HEADER */
.header {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  z-index: 10;
}
.globe-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header button {
  position: relative;
  margin-top: -65px;
  z-index: 100;
  font-size: 40px;
  text-shadow: 1px 1px 2px rgba(6, 94, 27, 0.879);
  font-weight: 500;
  cursor: pointer;
  padding: 5px 5px;
  background: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #24957f 25%,
    #95ba5668 50%,
    #24957f 75%
  );

  box-shadow: 2px 2px 5px #87b63684, -2px -2px 5px #2b63b884;
  border: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  transition: 2s ease;
}

.header button:before {
  background: linear-gradient(to right, #24957f 0%, #24957f 51%, #24957f 100%);
  -webkit-mask: linear-gradient(to bottom, #0000 40%, #000);
  mask: linear-gradient(to bottom, #0000, #000);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.header button:after {
  background-image: linear-gradient(
    to right,
    #24957f 0%,
    #24957f 51%,
    #24957f 100%
  );
  z-index: -100;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s;
  content: "";
  top: 0;
  left: 0;
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.header button:hover:after {
  opacity: 1;
}

/* NAVIGATION MENU */
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10vh;
  position: fixed;
  z-index: 2;
  right: 0;
  height: 100vh;
  width: 33vw;
  background: #24957f;
  padding-top: 20vh;
}

.nav .nav-link {
  text-decoration: none;
  color: rgba(238, 238, 238, 1);
  padding: 10px 2vw;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(50, 50, 70, 0.5);
  font-weight: 700;
}

/* dropdown button for navigation */
.dropdown-icon {
  position: fixed;
  z-index: 100;
  right: 50px;
  top: 50px;
  height: 50px;
  width: 50px;
  border: none;
  border-bottom-left-radius: 90%200%;
  border-top-right-radius: 90%200%;
  border-top-left-radius: 90%200%;
  border-bottom-right-radius: 90%200%;
  /* border: 1px solid white; */
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(238, 238, 238, 1);
  cursor: pointer;
  background: #24957f;
}

.dropdown-icon:hover {
  background: rgba(123, 131, 127, 0.6);
}

@media only screen and (max-width: 800px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background: #24957ee7;
    padding-top: 20vh;
  }
}
