* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Optima', sans-serif;	
  font-size: 20px;
  color: #0B0B0B;
}

button {
  font-family: 'Optima', sans-serif;	
}
.lower {
  padding-top: 120px;
}
