* {
  margin: 0;
  padding: 0;
}

/* added to stop globe from having focus one clicking */
*:focus {
  outline: none;
}

body {
  font-family: "Optima", sans-serif;
  font-size: 20px;
  color: #0b0b0b;
}

button {
  font-family: "Optima", sans-serif;
}
.lower {
  padding-top: 120px;
}
.bg-wave {
  width: 100%;
  height: 100vh;
  position: absolute;
}
